In [17]:
import pandas as pd
import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [18]:
df = pd.read_csv('input/bbc-text.csv')
#df = pd.read_csv('input/news_category_same_categories_as_bbc.csv')
#df = pd.read_csv('input/news_category.csv')
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [16]:
'''
###Join similar categories in the news_category.csv
df.category[df.category=='culture & arts'] = 'arts & culture'
df.category[df.category=='arts'] = 'arts & culture'
df.category[df.category=='the worldpost'] = 'world news'
df.category[df.category=='worldpost'] = 'world news'
df.category[df.category=='wellness'] = 'healthy living'
df.category[df.category=='college'] = 'education'
df.category[df.category=='parents'] = 'parenting'
df.category[df.category=='style'] = 'style & beauty'
df.category[df.category=='green'] = 'environment'
df.category[df.category=='taste'] = 'food & drink'
'''
len(df.groupby('category').text.count())

5

In [11]:
###PREPROCESSING
tokenizer = RegexpTokenizer(r'\w+')
lemmatizer = WordNetLemmatizer()
stop = stopwords.words('english')

def get_wordnet_pos(word):
    """Map POS tag to first character lemmatize() accepts"""
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)

In [12]:
###to lowercase, tokenize, lemmatize based on POS tags, exclude stopwords, join tokens into a string
for i in range(df.shape[0]):
    #Bear-ly, POS tag check uses an empty string, returns error
    #df['text'][i] = ' '.join([lemmatizer.lemmatize(w, get_wordnet_pos(w)) if w[-2:] != 'ly' else lemmatizer.lemmatize(w[:-2], get_wordnet_pos(w[:-2])) for w in tokenizer.tokenize(df['text'][i].lower()) if w not in stop])
    df['text'][i] = ' '.join(
                        [lemmatizer.lemmatize(w, get_wordnet_pos(w)) 
                         for w in tokenizer.tokenize(df['text'][i].lower())
                         if w not in stop])

In [13]:
#how the preprocessed data looks
df.head()

        category                                               text
0           tech  tv future hand viewer home theatre system plas...
1       business  worldcom bos left book alone former worldcom b...
2          sport  tiger wary farrell gamble leicester say rush m...
3          sport  yeading face newcastle fa cup premiership side...
4  entertainment  ocean twelve raid box office ocean twelve crim...

In [15]:
name = 'bbc_news_cleaned.csv'
df.to_csv('input/'+name, index=False)
#is the data saved ok
aa = pd.read_csv('input/'+name)
aa.head()

        category                                               text
0           tech  tv future hand viewer home theatre system plas...
1       business  worldcom bos left book alone former worldcom b...
2          sport  tiger wary farrell gamble leicester say rush m...
3          sport  yeading face newcastle fa cup premiership side...
4  entertainment  ocean twelve raid box office ocean twelve crim...